* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  color: whitesmoke;
  font-family: sans-serif;
  width: 100%;
  max-width: 500px;
  min-height: 200px;
  margin: auto;
  padding: 2rem 1rem;
  text-align: center;
  background-color: black;
}

.bill-amount,
.cash-given {
  font-size: 1.3rem;
  padding: 1.5rem 1rem 0.5rem;
}

input {
  font-size: 1rem;
  width: 100%;
  padding: 0.5rem;
  height: 50px;
  display: block;
}

button {
  padding: 0.5rem 1rem;
  display: block;
  font-size: 1rem;
  border: none;
  margin: 1rem auto 0;
}

button:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition-duration: 0.5s;
  /* box-shadow: 0 3px 15px -1px; */
}

label {
  font-size: 1.3rem;
}

.return-change-container {
  padding: 1.5rem 1rem 0.5rem;
}

#profit-output {
  color: green;
}

#loss-output {
  color: red;
}
